/* Header */

.hidden.menu {
    display: none;
}
.ui.large.secondary.inverted.pointing.menu {
    border: 0 none;
}

.masthead.aligned.segment {
    min-height: 1000px;
    padding: 1em 0;
    background: #353336 url("../assets/images/back1.jpg") repeat scroll 0 0 / cover;
    background-attachment: fixed;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

/* About */

.ui.vertical.stripe {
    padding: 2em 0 5em;
}

.ui.vertical.stripe.about h3 {
    font-size: 2.4em;
}

.underlineHeader {
    width: 133px;
    height: 5px;
    background-color: #fb0f51;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe.about p {
    color: #444;
    font-size: 1.1em;
    letter-spacing: 0.03em;
    margin-top: 2em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

/* Segment Divider */

.elementor-shape.elementor-shape-bottom[data-negative="false"], .elementor-shape.elementor-shape-top[data-negative="true"] {
    transform: rotate(180deg);
}
.elementor-shape-bottom {
    bottom: -1px;
}
.elementor-shape {
    direction: ltr;
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.elementor-shape svg {
    display: block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: calc(100% + 1.3px);
}
.elementor-shape-bottom .elementor-shape-fill {
    transform: rotateY(180deg);
}
.elementor-shape .elementor-shape-fill {
    fill: #fff;
    transform: rotateY(180deg);
    transform-origin: center center 0;
}

/* Draggable Slider */

.drag-slider {
    position: relative;
    overflow: hidden;
}
.drag-slider img {
    width: 100%;
    display: block;
}
.resize {
    position: absolute;
    top: 0;
    left: 0.05%;
    height: 100%;
    width: 50%;
    overflow: hidden;
}
.handle {
    /* Thin line seperator */
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 3px;
    margin-left: -2px;
    background: #eee;
    cursor: ew-resize;
}
.handle::after {

    background: #2980b9;
    border-radius: 50%;
    color: white;
    content: "⇔";
    font-size: 25px;
    font-weight: bold;
    height: 30px;
    line-height: 25px;
    margin: -28px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: all 0.3s ease 0s;
    width: 30px;

}

.ui.container.slider-box {
  
    width: 970px;
    margin-top:3em;
}

/* Events */

.events .ui.middle.aligned.container {
    position: relative;
    z-index: 1;
}

.ui.vertical.stripe.segment.events {
    background: #222 url("../assets/images/bg.jpg") repeat fixed 0 0 / cover;
    padding-top: 5em;
}


.bg {
    color: rgba(255, 255, 255, 0.1);
    display: inline;
    font-family: Montserrat,Lato,sans-serif;
    font-size: 130px;
    font-weight: 900;
    line-height: 140px;
    position: absolute;
    right: 0.3em;
    z-index: 0;
    top: 0.2em;
}

.events .ui.header.centered {
    color: #efefef;
    margin-bottom: 1em;
    font-size:2.7em;
}

.ui.middle.aligned.stackable.grid.container > p {
    font-size: 1.1em;
    letter-spacing: 0.03em;
    margin-bottom: 4em;
}

.events .ui.image {
    border: 10px solid #eee;
    transition: all ease 0.4s;
    backface-visibility: hidden;
}

.caption {
    border: 1px solid #fff;
    bottom: 0;
    height: 85%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(12%, 9%);
    transition: all 0.4s ease 0s;
    width: 81%;
}

.caption-text {
    color: #fff;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
}

.captionHead {
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1.2em;
    margin: 0.4em 0;
}

.img-container:hover .ui.image {
    opacity: 0.2;
}

.img-container:hover .caption {
    opacity: 1;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item, .secondary.pointing.menu .item.logo {
        display: block;
    }

    .masthead.aligned.segment {
        min-height: 600px;
    }
    .caption {
        height: calc(85% - 20px);
        transform: translate(9%, calc(9% + 10px));
        width: 85%;
    }
}
@media only screen and (max-width: 400px) {
    .ui.container.slider-box {
        margin-top: 32%;
    }
}
