.pageHeader {
    height:30em;
}
.pageHeader h1.ui.header {
    font-size: 2.6em;
    margin-top: 3.5em;
}
.pageHeader h2 {
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
}
.ui.inverted.vertical.center.aligned.segment.pageHeader {
    /*
    Change the background image accordingly.
    It is preferable to use full solid colour backgrounds like this so that the text
    on top of it is easily readable.
     */
    background: rgba(0, 0, 0, 0) url("../assets/images/projects-hero.jpg") repeat scroll 0 0 / cover ;
}
.secondary.menu.mobileMenu {
    display: none;
}
.mobileMenu .ui.container {
    padding: 0 1em;
}
.footer.segment {
    padding: 5em 0;
}

.secondary.menu .toc.item {
    display: none;
}

@media only screen and (max-width: 850px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .ui.large.secondary.inverted.menu.mobileMenu {
        display: block;
    }
    .pageHeader h1.ui.header {
        font-size: 2.2em;
        margin-top: 2em;
    }
}


/*
You may edit the below code
The below code is for the part between header and footer and may be deleted
if you have to remove those items.
 */

.ui.vertical.stripe {
    padding: 2em 0;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0;
}

.quote.stripe.segment {
    padding: 0;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}
