sudo : required
dist: xenial
language:
  - ruby 
  - python
rvm:
  -  2.2.5
before_install:
  - sudo apt-get install pandoc
  - gem install asciidoctor
  - git checkout master
install: 
  - gem install html-proofer
  - pip install requests
  - sudo pip install Jinja2
  - sudo apt install cloc
script:
  - ruby proofer.rb
  - python app.py
  - python prof_app.py
  - bash push.sh

branches:
    only:
      -  master
