.card-container{
	background-color: #fff;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
	margin:0 auto;
}

.card{
	border-radius: 15px !important;
}

.speak-head{
	padding-top: 20px;
	font-size: 3.5rem;
}

.ui.cards{
	margin: 2.125em -3.5em;
}

.ui.three.stackable.cards{
	margin: -1em -3.5em;
}

.page-name{
    padding-top: 100px;
    font-size: 80px;
}

.ui.vertical.stripe{
	padding: 2em 0 3em;
}

.ui.divider{
	margin: 0rem 0rem;
}

.description-brief{
    font-size: 30px;
    text-align: center;
}

.ui .large.image{
overflow: hidden;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.slide-window {
	height: auto;
	overflow: hidden;
	position: relative;
}
.slide-window img {
	width: 100%;
}

.slide-holder {
	background-color: blue;
	margin-left: 0;
	transition: margin-left 1s;
}

.slide {
	height: auto;
	float: left;
}

.slide-nav {
	position: absolute;
	width: 100%;
	height: 20px;
	left: 0;
	bottom: 10px;
	text-align: center;
	z-index: 100;
}

.slide-nav-bt {
	width: 9px;
	height: 9px;
	background-color: #fff;
	border: solid 1px transparent;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
}
.slide-nav-bt.active {
	background-color: #000;
	border: solid 1px #fff;
}

.sp-name h2 {
	display: inline;
}

.sp-name p {
	display: inline;
}

.hn2{
    font-size: 26px;
    font-weight: lighter;
    font-style: italic;
      }

.masthead.aligned.segment {
    min-height: 700px;
    background: #353336;
    background-attachment: fixed;
}

.points{
	color: white;
	font-size: 25px;
	padding-left: 25px;
	position: absolute;
}

.external{
	width: 100% !important;
}

#modaldiv1,#modaldiv2,#modaldiv3,#modaldiv4,#modaldiv5,
#modaldiv6,#modaldiv7,#modaldiv8,#modaldiv9,#modaldiv10,
#modaldiv11,#modaldiv12,#modaldiv13{
	width: 80% !important;
}

.ui-popup {
    padding: .1em;
}
.ui-popup iframe {
    border-radius: inherit;
}

.close{
	color: white;
float: right;
font-size: 28px !important;
font-weight: bold;
}

.close:hover{
	color: red !important;
}

.item1{
	padding-top: 20px;
	margin-left: 20px;
	width: 100px;
	height: 100px;
}
.item1 img{
	max-height: 100%;
	max-width: 100%;
}
#desc {
	width: 100%;
}
#desc1 {
	width: 100% !important;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 600px) {
    .card{
			position:absolute;
			left:50%;
			transform:translateX(-50%);
			margin:0 auto;
		}
		.ui.three.stackable.cards{
			width:90%;
			margin:0 auto;
		}
		.page-name{
			font-size:40px;
		}
		.points{
			font-size:20px;
			text-align:center;
			margin:0 auto;
		}
		.row{
			width:80%;
		}
		.item1{
			margin:0 auto;
		}
		.first{
			padding-left:10%;
		}
}
@media only screen and (max-width: 768px) and (min-width: 500px) {
	.ui.middle.aligned.stackable.grid.container{
		position:relative;
		margin:0 auto;
	}
}
