.card-container{
	background-color: #fff;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
	height: 250px;
}

.card{
	border-radius: 15px !important;
}

.speak-head{
	padding-top: 20px;
	font-size: 3.5rem;
}

.ui.cards{
	margin: 2.125em -3.5em;
}

.ui.three.stackable.cards{
	margin: -1em -3.5em;
}

.ui.vertical.stripe{
	padding: 2em 0 3em;
}

.ui.divider{
	margin: 0rem 0rem;
}

.page-name{
    padding-top: 100px;
    font-size: 80px;
}
.description-brief{
    font-size: 30px;
    text-align: center;
}

.ui .large.image{
overflow: hidden; 
}

.slide-center{
	display: inline-block;
	text-align: center;
	width: 100%;
}

.slide-content{
	margin: auto;
}

.slide-display-container{
	position: relative;
	display: block;
}

.btn-display-left{
	position:absolute;top:50%;left:0%;
}

.btn-display-right{
	position: absolute;top: 50%; right: 0%;
}

.slider-button:hover{
	color:#000!important;background-color:#ccc!important;
	margin: 0;
	border:none;
	display:inline-block;
	outline:0;padding:5px 10px;
	vertical-align:middle;overflow:hidden;
	text-decoration:none;color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
}

.slider-button{
	margin: 0;
	border:none;
	display:inline-block;
	outline:0;padding:5px 10px;
	vertical-align:middle;overflow:hidden;
	text-decoration:none;color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
}

.slider-black{
	color:#fff!important;background-color:#000!important;
}

.hn2{
    font-size: 26px;
    font-weight: lighter;
    font-style: italic;
      }

.masthead.aligned.segment {
    min-height: 700px;
    padding: 1em 0;
    background: #353336 url("../images/bkg.png") repeat scroll 0 0 / cover;
    background-attachment: fixed;
}
