.card-container{
	background-color: #fff;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
	height: 250px;
}

.card{
	border-radius: 15px !important;
}

.speak-head{
	padding-top: 20px;
	font-size: 3.5rem;
}

.column.card-container{
	 background-color: rgba(43, 43, 43, 1);
}

.ui.three.stackable.cards{
	background-color: rgba(43, 43, 43, 1);
}

.description{
	color: white;
}

.header{
	color: wheat;
}