.btn{
		background: -webkit-linear-gradient(top, #f79477 0%,#d94c1b 100%);
		background:    -moz-linear-gradient(top, #f79477 0%,#d94c1b 100%);
		background:      -o-linear-gradient(top, #f79477 0%,#d94c1b 100%);
		width: 15px;
		height: 15px;
		display: block;
		border-radius: 100px;
		box-shadow:0px 0px 1px 0px #41403A,0px 1px 1px 0px #474642;
		color:#3e3d39;
		text-decoration: none;
		text-shadow:0px 1px 0px rgba(255,255,255,0.2);
		font-size: 11px;
		text-align: center;
		float: left;
		margin:0px 1px;
		line-height: 13px;
	}
	.btn:hover{
		background: -webkit-linear-gradient(top, #feae97 0%,#d74e1f 100%);
		background:    -moz-linear-gradient(top, #feae97 0%,#d74e1f 100%);
		background:      -o-linear-gradient(top, #feae97 0%,#d74e1f 100%);
	}
	.stnd{
		background: -webkit-linear-gradient(top, #908f8a 0%,#595953 100%);
		background:    -moz-linear-gradient(top, #908f8a 0%,#595953 100%);
		background:      -o-linear-gradient(top, #908f8a 0%,#595953 100%);
	}
	.stnd:hover{
		background: -webkit-linear-gradient(top, #cbcbcb 0%,#949494 100%);
		background:    -moz-linear-gradient(top, #cbcbcb 0%,#949494 100%);
		background:      -o-linear-gradient(top, #cbcbcb 0%,#949494 100%);
	}
	.head{
		background: -webkit-linear-gradient(top, #4d4c47 0%,#3c3b37 100%);
		background:    -moz-linear-gradient(top, #4d4c47 0%,#3c3b37 100%);
		background:      -o-linear-gradient(top, #4d4c47 0%,#3c3b37 100%);
		box-shadow: 0px 2px 0px #575757 inset;
		height: 30px;
		padding: 5px;
		border-radius: 8px 8px 0px 0px;
	}
	.head span{
		font-size: 15px;
		color:#fff;
		font-weight: bold;
		text-shadow:0px -1px 0px #333;
		margin-left: 10px;
	}
	.max{
		line-height: 12px;
		text-indent: 0.3px;
	}
	.window{
		border:1px solid #eaeaea;
		border-top:none;
		border-radius: 8px 8px 0px 0px;
		min-height: 500px;
		width: 750px;
		margin:0px auto;
    margin-bottom: 40px;
		background: #000;
		box-shadow: 0px 3px 20px #333;
	}
